@charset "ISO-8859-1";


body {
	margin: 0;
	padding: 0;
  	background-position: center;
  	background-size: cover;
  	background-position: center;
   	height: 100vh;

}


#windy {
  	width: 90%;
    height: 90%;
    border-radius: 15px;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.windy-box {
	width: 80%;
	height: 80%;
	background-size: cover;
  	background-position: center;
	background: rgba(0, 0, 0, 0.33);
	border-radius: 35px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: none;
}


@media (max-width: 1368px) {
	body {
		font-size: 13px;
	}
	
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.element-flex {
	display: flex; 
	flex-direction: row;
	justify-content: center; 
	align-items: center
}



#card {
	background-size: cover;
  	background-position: center;
	background: rgba(0, 0, 0, 0.33);
	border-radius: 100px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); 
	height: 94vh;
}

.box {
	width: 50%;
	height: 50%;
	background-size: cover;
  	background-position: center;
	background: rgba(0, 0, 0, 0.33);
	border-radius: 35px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.box-table {
	width: 70%;
	height: 70%;
	background-size: cover;
  	background-position: center;
	background: rgba(255, 255, 255, 1);
	border-radius: 35px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}



.nav-box {
	width: 10%;
	height: 10%;
	padding: 20px;
	background-size: cover;
  	background-position: center;
	background: rgba(0, 0, 0, 0.33);
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.box-table::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.box-table {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.box .city-name {
	display: flex;
	align-items: center;
	justify-content: center;
}



.box form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.wrapper {
	width: 100%;
	height: 100%;
}

.forecast {
	width: 100%;
	height: 100%;
	padding: 5px;
	border-radius: 10px;
}

.forecast:hover {
	background: rgba(240, 231, 231, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
}

.forecast.active {
	background: rgba(240, 231, 231, 0.39);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);

}

.forecast img {
	width: 40%;
	height: 40%;
}


ul {
	display: inline-block;
	margin: 20px;
}

#display-div {
	width: 100%;
	height: 100%;
}

.value-div {
	width: 120px;
	height: 160px;
	display: inline-block;
	margin: 20px;
	background: rgba(240, 231, 231, 0.39);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
}


.value-div img, p {
	margin: 0;
	padding: 0;
}



#hourly-weather {
	margin-bottom: 15px;
}

#hourly-weather, #hourly-time, #hourly-wind, #hourly-rain, #hourly-percip {
	font-size: 13px;
}



.value-div img {
	width: 30%;
	height: 30%;
}



#child-div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

#data-icon-parent-div{
	display: flex;
	align-items: center;
	justify-content: center;
}


#wind-icon, #rain-icon, #percipitation-icon {
	margin-right: 10%;
	padding: 2px;
}

#icon-div {
	display: flex;
	flex-direction: column;
	margin-right: 10%;
}

#data-div {
	display: flex;
	flex-direction: column;
	align-items: start;
}

a {
	text-decoration: none;
	color: #fff;
}

.flex-column-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card, h6, span {
  color: #fff !important;
}

.mb {
	margin-bottom: 20px;
}

.mt {
	margin-top: 20px;
}


.mr {
	margin-right: 20px;
}

.ml {
	margin-left: 20px;
}

.mr-2 {
	margin-right: 20px;
}

.ml-2 {
	margin-left: 20px;
}

a:hover {
	color: #5F9EA0;
}

#toCelsius.active, #toFarenheit.active {
  color: #5F9EA0;
}


/* AIR QUALITY */

#aqhi {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.good {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00C851;
  color: #fff;
}

.moderate {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FC9900;
  color: #fff;
}

.unhealthy {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FF4444;
  color: #fff;
}

/* Loader styling */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}


@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* Add a custom fade-in class */
.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}



